/* Additems.css */

/* Container styles */
.additemsform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Adjust the margin as needed */
  }
  
  /* Heading styles */
  h1 {
    margin-bottom: 20px;
  }
  
  /* Form styles */
  form {
    width: 300px; /* Adjust the width as needed */
  }
  
  /* Label styles */
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Input styles */
  input[type="text"],
  input[type="number"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Button styles */
  .btnn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btnn:hover {
    background-color: #0056b3;
  }
  