.card{
    border: none !important;
    /* margin-bottom: 2rem; */
    margin-top: 2rem;
    transition: transform 0.2s;
}
.card:hover{
    transform: scale(.9);
}
.card-img-top{
    width:100%;
    border-radius: 1rem !important;
    /* object-fit: cover !important; */
}
.title{
    display: flex;
    justify-content: space-between;
}