.card{
    border: none !important;
    /* margin-bottom: 2rem; */
    margin-top: 2rem;
    transition: transform 0.2s;
}
.card:hover{
    transform: scale(1.05);
}
.card-img-top{
    width:100%;
    border-radius: 0 rem;
    object-fit: cover !important;
}